{% extends 'base.html' %}
{% block title %} Frontpage {% endblock title %}
    {% block content %} 
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/frontpage">Pagina de streaming</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                {% if user.is_authenticated %}
                <!-- Botón para cerrar sesión -->
                  <li>
                    <a class="nav-link" href="/logout">Cerrar sesión</a>
                  </li>
            {% else %}
                <!-- Botón para iniciar sesión -->
                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                <li class="nav-item"><a class="nav-link" href="/register">Registerarse</a></li>
            {% endif %}
              </li>
                
            </ul>
        </div>
    </div>
</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/b4c7f092-0488-48b7-854d-ca055a84fb4f/7ab2eb8c-a537-439b-a948-0360e18f035e/AR-es-20231204-popsignuptwoweeks-perspective_alpha_website_small.jpg')">
    <div class="text-center my-5">
        <h1 class="letter_border_ text-white fs-3 fw-bolder">Bienvenido a Nuestra pagina de streaming</h1>
        <p class="text-white-50 mb-0"></p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>¡Bienvenido a nuestra plataforma de streaming definitiva!</h2>
                <p class="lead"></p>
                <p class="mb-0">Sumérgete en un mundo repleto de entretenimiento ilimitado, donde cada clic te lleva a descubrir historias fascinantes, emociones cautivadoras y momentos inolvidables. Con una amplia biblioteca de películas, series, documentales y contenido exclusivo, estamos aquí para satisfacer todos tus gustos y preferencias.</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>¡Descubre la diferencia en entretenimiento! </h2>
                <p class="lead"></p>
                <p class="mb-0">Con un catálogo variado y exclusivo, ofrecemos calidad en alta definición, contenido original y accesibilidad total. Disfruta sin interrupciones, con recomendaciones personalizadas para una experiencia superior en streaming.</p>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; TP_Django 2023</p></div>
</footer>
    {% endblock content %}

