<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles1.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frontpage</title>
</head>
<body>
    <div class="black centered">
        <h1>Pagina de streaming(tm)</h1>
    </div>


    <div class="black centered">
    <table class="centered">
        <tr>
            <td><img src="./images/Placeholder_view_vector.svg.png" alt="placeholder"></td>
            <td><img src="./images/Placeholder_view_vector.svg.png" alt="placeholder"></td>
            <td><img src="./images/Placeholder_view_vector.svg.png" alt="placeholder"></td>
        </tr>
        <tr>
            <td><img src="./images/Placeholder_view_vector.svg.png" alt="placeholder"></td>
            <td><img src="./images/Placeholder_view_vector.svg.png" alt="placeholder"></td>
            <td><img src="./images/Placeholder_view_vector.svg.png" alt="placeholder"></td>
        </tr>
        <tr>
            <td><img src="./images/Placeholder_view_vector.svg.png" alt="placeholder"></td>
            <td><img src="./images/Placeholder_view_vector.svg.png" alt="placeholder"></td>
            <td><img src="./images/Placeholder_view_vector.svg.png" alt="placeholder"></td>
        </tr>
    </table>
    </div>


</body>
</html>