{% extends 'base.html' %}
{% block title %}Log In{% endblock title %}
{% block content %} 
<nav style="background-color:#212428;" class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a style="color: white;" class="navbar-brand" href="/frontpage">Pagina de streaming</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">                
      </ul>
    </div>
  </div>
</nav>

<div class="login-box">
  <h1>Iniciar Sesion</h1>
  <form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-sm" value="Registrarse" id="boton">Iniciar sesión</button>
    <br>
    <br>
    <a style="text-align: center;" href="/register">¿No tienes una cuenta?</a>
  </form>
</div>
{% endblock content %}