h1{
    text-align: center;
    color: rgb(211, 211, 211);
}
.black{
    background-color: black;
    outline-color: black;
}

body{
    background-color:maroon;
}

img{
    height: 100px;;
    width: 100px;;
}

.centered{
    margin: auto;
}
div{
    height: fit-content;
    width:fit-content;
    
}